program ::= imports comps | comps 
imports ::= { 'load''('{string_val}')'} ✔
comps ::= top_defs {proc_def} | {proc_def}✔ 
top_defs ::= {top_def}✔
top_def ::= gvar_def | type_def✔
gvar_def ::= var_def✔
type_def ::= 'type' argument ✔
var_def ::= 'var' argument✔
proc_def ::= 'proc' symbol(arguments) output '{' statements '}'
if_stmt ::= 'if' conditional '{' statements '}' [ 'else' ( if_stmt | '{' statements '}' ) ]
for_stat ::= 'for' [var_def;] conditional[; symbol inc_dec] '{' statements '}'✔
inc_dec ::= '++' | '--'✔

assignment ::= place '=' expr✔
place ::= var_def | struct_access | array_access | symbol | deref✔

deref ::= { value } symbol✔

conditional ::= or_expr 
or_expr     ::= and_expr {'||' and_expr}
and_expr    ::= unary_expr {'&&' unary_expr}
unary_expr  ::= '!' unary_expr | primary
primary     ::= b_value | '(' conditional ')'

func_cal ::= symbol '(' arguments ')'✔

statements ::= var_def | array_def | pointer_def | struct_def |
             | assignment | if_stat | for_stat | func_cal | inc_dec | 'return' expr 

arguments ::= { argument, } | argument 
argument ::= symbol argument_pointer ✔
argument_pointer ::= { 'pointer' } argument_types | argument_types✔
argument_types ::= type | symbol | struct_def✔

expr ::= arith_exp | bool_exp | value
value ::= bool_val | int_val | float_val 
        | byte_val | str_val | struct_lit | array_lit | symbol | func_cal 

arith_exp ::= add_sub
add_sub ::= mul_div_mod { (+ | -) mul_div_mod }
mul_div_mod ::= primary { (/ | * | %) primary }
arith_unary_expr ::= '-' arith_unary_expr  | primary
primary ::= int_val | float_val | struct_access | array_access | symbol | func_cal | '(' arith_exp ')' 

-- the following rules are left-recursive but 
-- since they don't break the code it could be ignored
array_lit = '[' {array_lit_items} ']'
array_lit_items = expr  | array_lit_items ',' 
array_def ::= var_def '[' [ int_val ] ']'
array_access ::=  symbol '[' INT ']'

struct_lit = '{' {struct_lit} '}' 
struct_lit_items = expr | symbol '=' expr | struct_lit_items ',' 
struct_access ::= symbol '.' symbol
struct_def ::= symbol 'struct' '{' arguments '}'
library_access = symbol ':' ( symbol | function call)
lib_func ::= symbol ':' func_call
